<!DOCTYPE HTML>
<!-- Uploading files --> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head> 
    <title>Getting Started: Uploading files</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>


<body>
	<form method="POST" enctype="multipart/form-data" th:action="@{/upload}">
		<input type="file" name="file" /><br/> 
                <input type="text" name="name" /><br/><br/> 
                <input type="submit" value="Upload" />
	</form>
</body>
</html>
